<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" /> 
	</system.web>
	<system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
		<services>
			<service behaviorConfiguration="ProductServiceBehavior" name="Sevansoft.CacheTest.ServiceTier.ProductService">
				<endpoint address="" binding="wsHttpBinding" contract="Sevansoft.CacheTest.Interfaces.IProduct" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ProductServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.webServer>
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>
