<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings configSource="bindings.azure.config" />
        <client configSource="client.azure.config" />
        <!--<bindings configSource="bindings.local.config" />
        <client configSource="client.local.config" />-->
    </system.serviceModel>
</configuration>