<?xml version="1.0" encoding="utf-8" ?>
<client>
  <endpoint address="http://localhost:49863/ProductService.svc"
            binding="basicHttpBinding" 
            bindingConfiguration="basicHttpBinding_IProduct"
            contract="IProduct" 
            name="basicHttpBinding_IProduct">
  </endpoint>
  
  <endpoint address="http://localhost:49863/CountryInformationService.svc"
            binding="basicHttpBinding" 
            bindingConfiguration="basicHttpBinding_ICountryInformation"
            contract="ICountryInformation" 
            name="basicHttpBinding_ICountryInformation">
  </endpoint>
</client>