<?xml version="1.0" encoding="utf-8" ?>
<client>
  <endpoint address="http://sevansoft-wcfcache.azurewebsites.net/ProductService.svc"
            binding="basicHttpBinding" 
            bindingConfiguration="basicHttpBinding_IProduct"
            contract="IProduct" 
            name="basicHttpBinding_IProduct" />

  <endpoint address="http://sevansoft-wcfcache.azurewebsites.net/CountryInformationService.svc"
            binding="basicHttpBinding" 
            bindingConfiguration="basicHttpBinding_ICountryInformation"
            contract="ICountryInformation"
            name="basicHttpBinding_ICountryInformation" />  
</client>
