<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"/>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Sevansoft.CacheTest.ServiceTier.ProductService">
        <endpoint address="" binding="wsHttpBinding" contract="Sevansoft.CacheTest.Interfaces.IProduct"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Sevansoft.CacheTest.ServiceTier.CountryInformationService">
        <endpoint address="" binding="basicHttpBinding" contract="Sevansoft.CacheTest.Interfaces.ICountryInformation"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="Default" physicalMemoryLimitPercentage="20"/>
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
</configuration>